<ion-view view-title="{{chat.name}}">
  <ion-content>
    <div id="F">
      <img ng-src="{{chat.pictureUrl}}" style="width: 70px; height: 70px">
      <h4>{{chat.name}}</h4>

      <!-- __________ LOAD THE CONVERSATION BETWEEN TWO USERS ___________ -->
        <div ng-repeat="message in conversation" class="card" ng-style="setCard(message)">
          <div class="item item-text-wrap" ng-style="setColor(message)">
            {{message.text}}
            <p style="text-align: left">{{message.formatTime}}</p>
          </div>
        </div>
    </div>
  </ion-content>


  <!-- ___________ INPUT FORM THAT ALLOW USER TO SEND MESSAGE _____________ -->
  <div id="G">
      <div class="item item-input-inset custom-inset">
      <input type="text" placeholder="Type here" ng-model="newmessage.text">
       <!-- <p ng-model="newmessage.sender"></p>
       <p ng-model="newmessage.receiver"></p> -->
       <i ng-click="insert(newmessage)" class="icon ion-ios-arrow-right"></i>
      </div>
  </div>
</ion-view>
