<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-toggle><i class="icon ion-location"></i>Show My Location</ion-toggle>
      <ion-item ng-click="UploadPicture()"><i class="icon ion-camera"></i>Edit Profile Picture</ion-item>
      <ion-item ng-click="EditBio()"><i class="icon ion-edit"></i>Edit Bio</ion-item>
      <ion-item ng-click="EditPassword()"><i class="icon ion-ios-locked"></i></i> Edit Password </ion-item>
       <ion-item href="http://www.buddy-project.org/hotlines/"><i class="icon ion-document"></i> Resources </ion-item>
      <ion-item ng-click="LogOut()"><i class="icon ion-log-out"></i> Log Out </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
