<ion-view view-title="Interests">

  <!-- ______________________ NAVIGATION BAR _______________________________ -->
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item" href="#">
        Your Profile
      </a>
      <a class="tab-item active" href="#/tab/interest">
        Your Interests
      </a>
    </div>
  </div>


  <!-- _______________________ CONTENT OF INTEREST PAGE _______________________ -->
  <ion-content>
    <div id="B">
      <div id="C">
        <div id="error" ng-if="errorMessage != ''">{{errorMessage}}</div>
        <input type="text" placeholder="Search An Interest..." ng-model="SearchInterest.$id"/>
        <div  ng-repeat="interest in interestData | filter: SearchInterest" ng-click="CaptureInterest(interest)">
          {{interest.$id}}
          <span>{{interest.$value}} like this</span>
        </div>
        <button class="button button-block" ng-click="CaptureInterest(SearchInterest)">ADD MY OWN INTEREST </button>
        <button class="button button-block button-dark" ui-sref="match"> FIND ME A BUDDY!</button>
      </div>

      <!-- ______________ DISPLAY LIST OF INTERESTS OF USERS _____________________ -->
      <div id="B1">
        <h4 ng-show="NoInterest"> To add an interest, you can search and tap on an option above. </h4>
        <ion-list>
          <ion-item ng-repeat="interestStr in UserInterest track by $index">{{interestStr}}
            <ion-option-button class="button-assertive" ng-click="remove($index)">Delete</ion-option-button>
          </ion-item>
        </ion-list>
      </div>

      <!-- ______________ ADDING AN INTEREST _____________________ -->
    </div>
  </ion-content>
</ion-view>
