<ion-view view-title="Profile">
  <ion-content class="padding center1">
    <div id="A">
      <div id="A1">
        <img src="https://www.rhsmith.umd.edu/files/Images/News/2015/headshots/2.jpg" />
        <h4>{{name}}</h4>
        <h5>Philadelphia, PA</h5>
        <p>{{description}} </p>
      </div>

      <!-- ______________ MAJOR STATS _______________ -->
      <div class="row">
        <div class="col col-border">
          <h4>{{age}}</h4>
          <h6>Age</h6>
        </div>
        <div class="col col-border">
          <h4>5</h4>
          <h6>Interests</h6>
        </div>
        <div class="col col-border">
          <h4>101</h4>
          <h6>Buddies</h6>
        </div>
      </div>
      <div id="A2">
        <button class="button button-block button-dark"> Edit Your Profile </button>
      </div>
    </div>
  </ion-content>
</ion-view>
