<ion-view view-title="Find A Match">

    <!-- ______________________ ADDING BUTTON _______________________________ -->
    <!-- <div ng-click="AddInterest()" class="float-button">
      <span class="height-fix">
        <a class="content">
          <i class="ion-plus-round"> </i>
        </a>
      </span>
    </div> -->

  <!-- ________________________ NAVIGATION BAR _______________________________ -->
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item" href="#/tab/buddies">
        Your Buddies
      </a>
      <a class="tab-item active" href="#/match">
        Your Matches
      </a>
    </div>
  </div>

  <!-- ________________________ IONIC CONTENT _______________________________ -->
  <ion-content>
    <div id="E">

      <!-- ____________________ IF THE USER HAS NO MATCHES __________________ -->
      <div id = "E1" ng-show="NoMatch"><h4>You have no matches at the moment.</h4>
        <button class="button button-block">UPDATE INTEREST</button>
        <button class="button button-block button-dark" ng-click="RandomMatch()">RANDOM MATCH :) </button>
        <div id="E2" ng-show="Random">
          <h4>We found you someone!</h4>
          <img src="{{RandomPerson.pictureUrl}}" />
          <h5>{{RandomPerson.name}}</h5>
          <button ui-sref="tab.other({otherId: RandomPerson.$id})" class="button button-block button-success">View Their Profile</button>
        </div>
      </div>


      <!-- __________________ IF THE USER HAS SOME MATCHES __________________ -->
      <ion-list>
        <ion-item ng-repeat="user in MatchesArray" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="tab.other({otherId: user.uid})">
          <img ng-src="{{user.pictureUrl}}">
          {{user.name}}
          <h6> {{user.common}}</h6>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
