<ion-view view-title="Buddies">

  <!-- ______________________ NAVIGATION BAR _______________________________ -->
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item active" href="#/tab/buddies">
        Your Buddies
      </a>
      <a class="tab-item" href="#/match">
        Your Matches
      </a>
    </div>
  </div>

  <!-- ______________________ IONIC CONTENT _______________________________ -->
  <ion-content>
    <div id="D">
      <ion-list>
        <ion-item>Darlene Alderson</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
