<ion-view view-title="Find A Match">

    <!-- ______________________ ADDING BUTTON _______________________________ -->
    <div ng-click="AddInterest()" class="float-button">
      <span class="height-fix">
        <a class="content">
          <i class="ion-plus-round"> </i>
        </a>
      </span>
    </div>


  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item" href="#/tab/buddies">
        Your Buddies
      </a>
      <a class="tab-item active" href="#/match">
        Your Matches
      </a>
    </div>
  </div>
  <ion-content>
  </ion-content>
</ion-view>
