<ion-view view-title="Find A Match">

    <!-- ______________________ ADDING BUTTON _______________________________ -->
    <!-- <div ng-click="AddInterest()" class="float-button">
      <span class="height-fix">
        <a class="content">
          <i class="ion-plus-round"> </i>
        </a>
      </span>
    </div> -->

  <!-- ________________________ NAVIGATION BAR _______________________________ -->
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item" href="#/tab/buddies">
        Your Buddies
      </a>
      <a class="tab-item active" href="#/match">
        Your Matches
      </a>
    </div>
  </div>



  <!-- ________________________ IONIC CONTENT _______________________________ -->
  <ion-content>
    <div id="E">
      <ion-list>
        <ion-item ng-repeat="user in MatchesArray" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="other({otherId: user.uid})">
          <img ng-src="{{user.pictureUrl}}">
          {{user.name}}
          <h6> {{user.common}}</h6>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
