  <ion-view view-title="Match's Profile">
    <ion-content>
        <!-- _______________________ CONTENT OF PROFILE PAGE _______________________ -->
        <ion-content class="padding below-nav-bar">
          <div id="A">
            <div id="A1" style="margin-top: -20px">
              <img ng-src="{{pictureUrl}}" />
              <h4>{{name}}</h4>
              <h5>Philadelphia, PA</h5>
              <p>{{description}} </p>
            </div>

            <!-- ______________ MAJOR STATS _______________ -->
            <div class="row">
              <div class="col col-border">
                <h4>{{age}}</h4>
                <h6>Age</h6>
              </div>
              <div class="col col-border">
                <h4>{{interests}}</h4>
                <h6>Interests</h6>
              </div>
              <div class="col col-border">
                <h4>0</h4>
                <h6>Buddies</h6>
              </div>
            </div>

            <!-- ___________________ FRIEND REQUEST SCENARIO  _______________________ -->
            <button ng-show="show==1" class="button button-block button-dark" ng-click="SendRequest()">
              Send Friend Request
            </button>
            <button ng-show="show==2" class="button button-block button-block2"> Request Sent </button>
            <button ng-show="show==3" class="button button-block button-success"> {{name}} is your friend </button>
            <button ng-show="show==4" class="button button-block button-block3" ui-sref="tab.buddies">Accept {{name}}'s request? </button>
          </div>

    </ion-content>
  </ion-view>
