<ion-view view-title="Profile">

  <!-- ______________________ NAVIGATION BAR _______________________________ -->
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs2">
      <a class="tab-item active" href="#">
        Your Profile
      </a>
      <a class="tab-item" href="#/interest">
        Your Interests
      </a>
    </div>
  </div>

  <!-- _______________________ CONTENT OF PROFILE PAGE _______________________ -->
  <ion-content class="padding below-nav-bar">
    <div id="A">
      <u><div class="error" ng-if="errorMessage != ''" ui-sref="tab.buddies">{{errorMessage}}</div></u>
      <div id="A1">
        <img ng-src="{{pictureUrl}}" />
        <h4>{{name}}</h4>
        <h5>Philadelphia, PA</h5>
        <p>{{description}} </p>
      </div>

      <!-- ______________ MAJOR STATS _______________ -->
      <div class="row">
        <div class="col col-border">
          <h4>{{age}}</h4>
          <h6>Age</h6>
        </div>
        <div class="col col-border">
          <h4>{{interests}}</h4>
          <h6>Interests</h6>
        </div>
        <div class="col col-border">
          <h4>0</h4>
          <h6>Buddies</h6>
        </div>
      </div>

      <!-- ___________________ EDIT YOUR PROFILE BUTTON  _______________________ -->
      <div id="A2">
        <button class="button button-block button-dark" ui-sref="tab.settings"> Edit Your Profile </button>
      </div>
    </div>

  </ion-content>
</ion-view>
