@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*----- STANDARD CSS CUSTOMIZATION ------ */
h1, h3, h4, h5, h6, p{
  text-align: center;

}

h1{
  color: black;
  font-family: 'Palanquin Dark', sans-serif;
}

h5{
color: #515A5A;
}

p, h6{
  color: #A6ACAF;
}

input{
  background: none;
  display: block;
  margin: auto;
  width: 100%;
  color: black !important;
  border-bottom: 0.1px #A6ACAF solid !important;
  margin-bottom: 5px;
}

i{
  font-size: 20px;
  margin-right: 10px;
}

u{
  color: #CB4335;
}

img{
  object-fit: cover;
}

/*----- LIST OF CLASSES IN ALPHABETICAL ORDER ------ */
.button-block2{
  color: #515A5A !important;
}

.button-block3{
  background: #BDC3C7;
  color: white;
}

.button-success{
  background: #117864;
  color: white;
}
.center1{
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: stretch !important;
  align-items: center !important;
}

.card{
  width: 200px !important;
  margin-bottom: -5px;
}


.col{
  margin-left: 5px;
  margin-right: 5px;
}

.col-border{
  border: 0.1px #E5E7E9 solid;
}

.error{
  color: #CB4335;
  text-align: center;
  font-style: italic;
}

/*----- PADDING INSIDE DIV ------ */
.padding{
  padding: 10% !important;
}

/*----- LOGO OF THE BUDDY PROJECT ----- */
.logo{
  display: block;
 margin: auto;
 width: 50%;
 object-fit: cover;
}


.float-right{
  display: block;
  float: right;
}

.ion-edit{
  font-size: 15px;
}

.button-icon{
    color: white;
}

.navbar-decor{
  background: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.success{
  margin-top: -20px !important;
  font-style: italic;
  color: #117864;
  text-align: center;
}


.tabs2{
  background: black !important;
  border: none !important;
}

/*---------------------- PROFILE PAGE STYLING ----------------------- */
#A{
  padding-top: 15%;
}

#A1 img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 300px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#A2{
  margin-top: 15px;
}

#A2 button{
  color: white;
}

/*---------------------- INTEREST PAGE STYLING ----------------------- */
#B, #C, #D, #E{
  padding-top: 13% !important;
}

#B1 h4, #D h4{
  padding-left: 10%;
  padding-right: 10%;
}

#C{
  padding: 50px;
}

#C span{
  display: block;
  float: right;
  color: #A6ACAF;
}

#C1{
  max-height: 100px;
  overflow: auto;
}

#E h6{
  text-align: left;
}

#E1{
  padding: 50px;

}

#E2 img{
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 70px;
  margin-top: 30px;
}

/*------------- STYLING FOR CHAT PAGE ---------------- */
#F img{
  display: block;
  margin: auto;
  border-radius: 100px;
  margin-top: 40px;
}

#F{
  position: absolute;
  height: 85%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
}

#F p{
  color: #ECF0F1;
}


/*--------------- STYLING INPUT BOX FOR CHAT ------------- */
#G{
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.custom-inset{
  background: black;
  border: none;
  color: white;
}
#G input{
  margin-right: 20px;
  color: white !important;
}

#G input::placeholder{
  color: white;
}
