h1, h3, h4, h5, h6, p{
  text-align: center;
}

h1{
  color: black;
}

h5{
color: #515A5A;
}

p, h6{
  color: #A6ACAF;
}

input{
  background: none;
  display: block;
  margin: auto;
  width: 100%;
  color: black !important;
  border-bottom: 0.1px #A6ACAF solid !important;
  margin-bottom: 5px;
}



/*----- BACKGROUND OF LOGIN AND REGISTER SCREEN ------ */
.navbar-decor{
  background: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/*----- PADDING INSIDE DIV ------ */
.padding{
  padding: 10% !important;
}

/*----- LOGO OF THE BUDDY PROJECT ----- */
.logo{
  display: block;
 margin: auto;
 width: 50%;
 object-fit: cover;
}

.center1{
  display: flex !important;
  flex-wrap: nowrap !important;
  align-content: stretch !important;
  align-items: center !important;
}

.col{
  margin-left: 5px;
  margin-right: 5px;
}

.col-border{
  border: 0.1px #E5E7E9 solid;
}



.ion-edit{
  font-size: 15px;
}

.float-right{
  display: block;
  float: right;
}


/*---------------------- PROFILE PAGE STYLING ----------------------- */
#A1 img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 300px;
  display: block;
  margin: auto;
}

#A2{
  margin-top: 15px;
}

#A2 button{
  color: white;
}
