h1, h3, h4, h5, h6, p{
  text-align: center;
}

h1{
  color: white;
}

p, h6, li{
  color: #A6ACAF;
}

input{
  background: none;
  display: block;
  margin: auto;
  width: 100%;
  color: white !important;
  border-bottom: 0.1px white solid !important;
  margin-bottom: 5px;
}

input::placeholder, textarea::placeholder{
  color: white;
}

/*----- BACKGROUND OF LOGIN AND REGISTER SCREEN ------ */
.background{
  background: url('../img/BGlogin.png');
}

/*----- PADDING INSIDE DIV ------ */
.padding{
  padding: 10% !important;
}

/*----- LOGO OF THE BUDDY PROJECT ----- */
.logo{
  display: block;
 margin: auto;
 width: 50%;
 object-fit: cover;
}

.center1{
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.col{
  margin-left: 5px;
  margin-right: 5px;
}

.col-border{
  border: 0.1px #E5E7E9 solid;
}


/*---------------------- PROFILE PAGE STYLING ----------------------- */
#A1 img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 200px;
  display: block;
  margin: auto;
}

#A2{
  margin-top: 15px;
}
